.circle-letter {
    height: 60px;
    width: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: red;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    margin: auto;
    text-decoration: none;
}

.intro-button-div {
    position: absolute;
    top: 30.5%;
    left: 42.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dictaphone-div {
    position: absolute;
    top: 15%;
    right: 7.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.font-link {
    font-family: 'Edu QLD Beginner';
}

.score-main-div {
    position: absolute;
    right: 10%;
    top: 10%;
    width: 10%;
    height: 30%;
    font-family: 'Edu QLD Beginner';
    display: block;
    justify-content: space-between;
    align-items: center;
    padding-top:0.5%;
    padding-bottom:0.5%;
}

.player-name-div {
    font-family: 'Edu QLD Beginner';
    font-size: 24px;
    justify-content: center;
    align-items: center;
    margin-bottom:20px;
}

.score-div {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    border: thick double #8c1919;
    justify-content: center;
    align-items: center;
    padding-top:20px;
    padding-bottom:20px;
    padding-left: 20px;
    padding-right: 20px;
    background: white;
}

.score-div-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}

.presentator-img {
    width: 75%;
    height: auto;
}

.modal-main-div {
    font-family: 'Edu QLD Beginner';
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top:0.5%;
    padding-bottom:0.5%;
}

