h1, p {
    font-family: Lato;
  }
  .App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .place_list {
    position: absolute;
    z-index: 1;
    padding: 20px;
    box-shadow: 0px 8px 10px 0px #0000002b;
  }
  
  .circle-container {
    position: relative;
    width: 400px;
    height: 400px;
    padding: 20px;
    /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
    border-radius: 50%;
    margin: 60px auto;
  }
  .circle-container div {
    display: flex;
    position: absolute;
    top: 50%; 
    left: 35%;
    width: 50px; 
    height: 50px;
    margin: 20px;
  }
  .circle-container img { display: block; width: 100%; }
  .deg0 { transform: translate(300px); } /* 12em = half the width of the wrapper */
  .deg14 {transform: rotate(14.4deg) translate(300px) rotate(-14.4deg);}
  .deg28 {transform: rotate(28.8deg) translate(300px) rotate(-28.8deg);}
  .deg42 {transform: rotate(43.2deg) translate(300px) rotate(-43.2deg);}
  .deg56 {transform: rotate(57.6deg) translate(300px) rotate(-57.6deg);}
  .deg70 {transform: rotate(72deg) translate(300px) rotate(-72deg);}
  .deg84 {transform: rotate(86.4deg) translate(300px) rotate(-86.4deg);}
  .deg98 {transform: rotate(100.8deg) translate(300px) rotate(-100.8deg);}
  .deg112 {transform: rotate(115.2deg) translate(300px) rotate(-115.2deg);}
  .deg126 {transform: rotate(129.6deg) translate(300px) rotate(-129.6deg);}
  .deg140 {transform: rotate(144deg) translate(300px) rotate(-144deg);}
  .deg154 {transform: rotate(158.4deg) translate(300px) rotate(-158.4deg);}
  .deg168 {transform: rotate(172.8deg) translate(300px) rotate(-172.8deg);}
  .deg182 {transform: rotate(187.2deg) translate(300px) rotate(-187.2deg);}
  .deg196 {transform: rotate(201.6deg) translate(300px) rotate(-201.6deg);}
  .deg210 {transform: rotate(216deg) translate(300px) rotate(-216deg);}
  .deg224 {transform: rotate(230.4deg) translate(300px) rotate(-230.4deg);}
  .deg238 {transform: rotate(243.8deg) translate(300px) rotate(-243.8deg);}
  .deg252 {transform: rotate(258.2deg) translate(300px) rotate(-258.2deg);}
  .deg266 {transform: rotate(272.6deg) translate(300px) rotate(-272.6deg);}
  .deg280 {transform: rotate(287deg) translate(300px) rotate(-287deg);}
  .deg294 {transform: rotate(301.4deg) translate(300px) rotate(-301.4deg);}
  .deg308 {transform: rotate(315.8deg) translate(300px) rotate(-315.8deg);}
  .deg322 {transform: rotate(330.2deg) translate(300px) rotate(-330.2deg);}
  .deg336 {transform: rotate(344.6deg) translate(300px) rotate(-344.6deg);}


  .circle-letter {
    height: 60px;
    width: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: red;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    margin: auto;
    text-decoration: none;
  }

  .main-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .button-div {
    position: absolute;
    top: 15%;
    left: 7.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .dictaphone-div {
    position: absolute;
    top: 15%;
    right: 7.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .mic-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 10px;
    display: flex;
    transform: scale(1.8);
  }

.main-div {
    min-height: 692px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 0;
    overflow: hidden;
    background: linear-gradient(
      108deg,
      rgba(16, 21, 34, 1) 15%,
      rgba(116, 187, 230, 1) 100%
    );
}

